/*
Theme Name: Total Child
Theme URI: https://tdegisi.web.csit.jccc.edu/studentsuites/
description: >-
  Total Child Theme
Author: Talia DeGisi, Kyle Gerken, Jordan Luna
Template: total
Version: 1.0.0
*/

body, button, input, select, textarea {  
  font-family: 'Avenir', sans-serif; 
} 

h1, h2, h3, h4, h5, h6, .ht-site-title, .ht-main-title, .ht-post-info, .ht-main-navigation a { 
  font-family: 'Avenir', sans-serif; 
  font-weight: bold; 
}

@font-face { 
  font-family: 'Avenir'; 
  font-weight: normal; 
  src: url('fonts/Avenir Light.otf'); 
} 

@font-face { 
  font-family: 'Avenir'; 
  font-weight: bold; 
  src: url('fonts/Avenir Heavy.ttf'); 
} 

/*
---------------------------------------
	Heading Adjust
---------------------------------------
*/
/* adjust the height of the sticky header, give more whitespace to the element */
.ht-sticky#ht-masthead{
	height: 82px;
}

 
#ht-site-branding img {
    max-height: 75px;
    position: relative;
    bottom: 10px;
}


/*
---------------------------------------
	End Heading Adjust
---------------------------------------
*/


/*
---------------------------------------
	Typography | Text Helpers
---------------------------------------
*/

blockquote, q{
	border-left: 5px solid #67C7C5;
	padding-left: 15px;
}

.entry-content a {
/* style for links within the content blocks */
	/*font-weight: bold;*/
}
.entry-content a:hover {
	text-decoration: underline;
}
.bolded{
	font-weight:bold;
}
.italic{
	font-style: italic;
}
.uppercase{
	text-transform: uppercase;
}
.lowercase{
	text-transform: lowercase;
}

/*
---------------------------------------
	End Typography
---------------------------------------
*/

/*
---------------------------------------
	Grid Containers
---------------------------------------
*/

/* Ordering */
.rightimg{
    order: 1;
}
/* End ordering */

.grid-container{
	margin: .5em initial;
}
.grid-row{
	display: flex;
	flex-direction: row;
}
.grid-row-reverse{
	display: flex;
	flex-direction: row-reverse;
}
.grid-row-full{
	width:100%;
}
.grid-row-centered{
	width: 80%;
	margin: 0 auto;
}
.grid-flex-wrap{
	flex-wrap: wrap;
}
.grid-flex-none{
	flex-wrap: nowrap;
}
.grid-flex-break{
	flex-wrap:wrap;
}
.grid-item-1{
	width: 100%;
}
.grid-item-2{
	width: 50%;
}
.grid-item-3{
	width: 33.33%;
}
.grid-item-4{
	width: 25%;
}

/* special grid */
.grid-item-25{
	width: 25%;
}
.grid-item-75{
	width: 75%;
}

/* collapsing grids */
.coll-grid-item-3{
    width:100%;
}

/*
---------------------------------------
	End Grid
---------------------------------------
*/




/*
---------------------------------------
	Container Types
---------------------------------------
*/
.relative{
	position: relative;
	display: block;
}

/*
---------------------------------------
	End Container Types
---------------------------------------
*/

/*
---------------------------------------
	Element Spacing
---------------------------------------
*/

/* vertical padding */
.l-v-padding{
	padding: 1.5em 0;
}
.m-v-padding{
	padding: 1em 0;
}
.s-v-padding{
	padding: .5em 0;
}
.xs-v-padding{
	padding: .25em 0;
}
.l-t-padding{
	padding-top: 1.5em;
}
.m-t-padding{
	padding-top: 1em;
}
.s-t-padding{
	padding-top: .5em;
}
.xs-t-padding{
	padding-top: .25em;
}
.l-b-padding{
	padding-bottom: 1.5em;
}
.m-b-padding{
	padding-bottom: 1em;
}
.s-b-padding{
	padding-bottom: .5em;
}
.xs-b-padding{
	padding-bottom: .25em;
}
/* horizontal padding */
.l-h-padding{
	padding: 0 1.5em;
}
.m-h-padding{
	padding: 0 1em;
}
.s-h-padding{
	padding: 0 .5em;
}
.xs-h-padding{
	padding: 0 .25em;
}
.l-l-padding{
	padding-left: 1.5em;
}
.m-l-padding{
	padding-left: 1em;
}
.s-l-padding{
	padding-left: .5em;
}
.xs-l-padding{
	padding-left: .25em;
}
.l-r-padding{
	padding-right: 1.5em;
}
.m-r-padding{
	padding-right: 1em;
}
.s-r-padding{
	padding-right: .5em;
}
.xs-r-padding{
	padding-right: .25em;
}

/* all padding */
.l-a-padding{
	padding: 1.5em;
}
.m-a-padding{
	padding: 1em;
}
.s-a-padding{
	padding: .5em;
}
.xs-a-padding{
	padding: .25em;
}
/* all margin */
.l-a-margin{
	margin: 1.5em;
}
.m-a-margin{
	margin: 1em;
}
.s-a-margin{
	margin: .5em;
}
.xs-a-margin{
	margin: .25em;
}
/* horizontal margin */
.l-h-margin{
	margin: 0 1.5em;
}
.m-h-margin{
	margin: 0 1em;
}
.s-h-margin{
	margin: 0 .5em;
}
.xs-h-margin{
	margin: 0 .25em;
}
.l-l-margin{
	margin-left: 1.5em;
}
.m-l-margin{
	margin-left: 1em;
}
.s-l-margin{
	margin-left: .5em;
}
.xs-l-margin{
	margin-left: .25em;
}
.l-r-margin{
	margin-right: 1.5em;
}
.m-r-margin{
	margin-right: 1em;
}
.s-r-margin{
	margin-right: .5em;
}
.xs-r-margin{
	margin-right: .25em;
}

/* vertical margins */
.l-v-margin{
	margin: 1.5em 0;
}
.m-v-margin{
	margin: 1em 0;
}
.s-v-margin{
	margin: .5em 0;
}
.xs-v-margin{
	margin: .25em 0;
}
.l-b-margin{
	margin-bottom: 1.5em;
}
.m-b-margin{
	margin-bottom: 1em;
}
.s-b-margin{
	margin-bottom: .5em;
}
.xs-b-margin{
	margin-bottom: .25em;
}
.l-t-margin{
	margin-top: 1.5em;
}
.m-t-margin{
	margin-top: 1em;
}
.s-t-margin{
	margin-top: .5em;
}
.xs-t-margin{
	margin-top: .25em;
}



/*
---------------------------------------
	End Elements Spacing
---------------------------------------
*/



/*
---------------------------------------
	Colors
---------------------------------------
*/

.black{
	background-color: #000000;
}
.soft-black{
	background-color: #191919;
}
.primary-purple{
	background-color: #6C207E;
}
.secondary-purple{
	background-color: #7D4199;
}
.tertiary-purple{
	background-color: #9370B1;
}
.cool-gray{
	background-color: #ADAFB1;
}
.white{
	background-color: #FFFFFF;
}
.off-white{
	background-color: #EAEAEA;
}
.teal{
	background-color: #67C7C5;
}
.coral{
	background-color: #F48366;
}
.pale-yellow{
	background-color: #FFF9C3;
}

/*
---------------------------------------
	End Colors
---------------------------------------
*/

/*
---------------------------------------
	Back To Top
---------------------------------------
*/
#ht-back-top{
	background-color: #191919;
}

/*
---------------------------------------
	End Back To Top
---------------------------------------
*/

/*
---------------------------------------
	Form Fields
---------------------------------------
*/
input[type="text"], input[type="email"], input[type="url"], input[type="password"],
input[type="search"], input[type="number"], input[type="tel"], input[type="range"], input[type="date"],
input[type="month"], input[type="week"], input[type="time"], input[type="datetime"], input[type="datetime-local"],
input[type="color"], textarea{
	border: 1px solid #ADAFB1;
}
input[type="text"]:hover, input[type="email"]:hover, input[type="url"]:hover, input[type="password"]:hover,
input[type="search"]:hover, input[type="number"]:hover, input[type="tel"]:hover, input[type="range"]:hover, input[type="date"]:hover,
input[type="month"]:hover, input[type="week"]:hover, input[type="time"]:hover, input[type="datetime"]:hover, input[type="datetime-local"]:hover,
input[type="color"]:hover, textarea:hover{
	box-shadow: 0 0 2px #6C207E;
}
input[type="text"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="password"]:focus,
input[type="search"]:focus, input[type="number"]:focus, input[type="tel"]:focus, input[type="range"]:focus, input[type="date"]:focus,
input[type="month"]:focus, input[type="week"]:focus, input[type="time"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus,
input[type="color"]:focus, textarea:focus{
	box-shadow: 0 0 7px #6C207E;
}
input[type="radio"], input[type="checkbox"]{
	margin-right: .5em;
}

/*
---------------------------------------
	End Form Fields
---------------------------------------
*/

/*
---------------------------------------
	Style Guide
---------------------------------------
*/
.ss-style-guide-heading-container{
	position:relative;
	border-bottom: 3px solid #9370B1;
	margin-bottom: 1em;
}
.ss-style-guide-logo{
	max-width:150px;
	max-height:150px;
}
.ss-style-guide-main-heading{
	position:absolute;
	top: 50%;
	left: 33%;
}

.ss-style-guide-responsive-container{
	width: 100%;
	height: 300px;
	display:block;
	box-sizing: border-box;
	margin-top: 1.5em;
}
.ss-style-guide-responsive-container .ss-style-guide-responsive-text{
	position: absolute;
	margin: 0;
	left: 10px;
	bottom: 0;
}
.ss-style-guide-responsive-border-guides{
	border-left: 1px solid #000000;
	border-right: 1px solid #000000;
	border-bottom: 1px solid #000000;
	border-radius: 2px;
	margin: 0 auto 2em auto;
	padding: 0;
}
.ss-style-guide-desktop{
	width: 62.5%;
	height: 90%;
}
.ss-style-guide-large-tablet{
	width: 85%;
	height: 85%;
}
.ss-style-guide-tablet{
	width: 75.29%;	
	height: 85%;
	
}
.ss-style-guide-mobile{
	width: 75.52%;
	height: 85%;
}
.ss-style-guide-small-devices{
	width: 82.76%;
	height: 75%;
}

.ss-style-guide-soft-border{
	border-bottom: 2px solid #EAEAEA;
}
.ss-style-guide-color{
	display:block;
}
/*
---------------------------------------
	End Style Guide
---------------------------------------
*/


/*
---------------------------------------
	Home Page
---------------------------------------
*/
#centerblock{
	border-bottom: 3px solid black;
}
#centerblock p{
    width: 82%;
	margin: 0 auto;
}

.infoGraphic{
	width: 450px;
	height: 450px;
	border: 1px solid black;
}

#centerRight{
	height: 450px;
	width: 60%;
}
.ss-center-right{
	position: relative;	
	display:flex;
	align-items: center;
    }

#bottom{
	width: 60%;
	margin: 1.5em auto;
	display:flex;
	flex-direction:row;
	flex-wrap:wrap;
	justify-content: space-around;
}
.ss-section-container{
	width: 95%;
	margin: 0 auto;
}


.ss-container{
	display:flex;
	flex-direction: row;
	flex-wrap:wrap;
}
.ss-container > div{
	width: 100%;
}

/*
---------------------------------------
	End Home Page
---------------------------------------
*/

/*
---------------------------------------
	Announcements
---------------------------------------
*/

/*.ht-month-year{
    display: none;
}*/
.ht-post-info .entry-date{
    display: none;
}
/*
---------------------------------------
	End Announcements
---------------------------------------
*/



/*
---------------------------------------
	Contact Us Page
---------------------------------------
*/
.ss-information{
    margin-left:.5em;
}

.container input[type="submit"], .container input[type="reset"]{
	display: inline-block;


	margin-top:1em;
}
.contact-container{
	display:flex;
	flex-direction:column;
	width:100%;
	margin: auto 5%;
}
.contact-container > *{
	width:100%;
	flex-wrap:wrap;
}
.contact-container h2 {
	text-indent: -.5em;
}
.contact-container label, .contact-container input{
	display:block;

}
.contact-container label { 
  font-weight: bold; 
  font-size: 1.03em; 
  margin-bottom: .3em; 
} 
.contact-container input {
    margin-bottom: 1.25em;
}

.contact-input{
	width: 70%;
	max-width: 400px;
}
.contact-textarea{
	width: 70%;
	height: 150px;
	max-width: 450px;
}

/* 
	-----------------------------------------
	Projects - Single
	-----------------------------------------
*/
.project-grid-row{
	display:flex;
	flex-direction:row;
	flex-wrap:wrap;

}
.project-grid-row .project-photo-container{

}
.project-grid-row .project-information-container{
}
/* 
	-----------------------------------------
	End Projects - Single
	-----------------------------------------
*/

/* 
    -----------------------------------------
    Post Types
    -----------------------------------------
*/
.left-image{
 
}
.right-image{
 
}
/* 
    -----------------------------------------
    End Post Types
    -----------------------------------------
*/

/* Talia's logo adjustments */

#ht-site-branding img {
    max-height: 75px;
    position: relative;
    bottom: 10px;
}
/* end Talia's logo adjustments */

/* Talia's tweaks */

.ht-main-navigation a {
	transition: background-color .25s;
}

.ht-main-navigation li:hover > a, .page-template-home-template .ht-main-navigation li:hover > a, .home.blog .ht-main-navigation li:hover > a, .ht-main-navigation .current_page_item > a, .ht-main-navigation .current-menu-item > a, .ht-main-navigation .current_page_ancestor > a, .page-template-home-template .ht-main-navigation .current > a, .home.blog .ht-main-navigation .current > a {
    background: #EAEAEA !important;
    color: #7D4199;
	transition: background-color .25s;
}

.ht_no_sidebar_condensed #primary {
	width: 85%;
}

.ht-main-header {
	background: #fff;
	padding: 1.75em 0;
}	

h1, h2, h3, h4, h5, h6 {
	margin: 1em 0 .85em 0;
	border-bottom: 2px #6c207e solid;
	padding-bottom: .5em;
}

h1 {
	font-size: 2em;
	border-color: #9370b1;
	border-width: 5px;
}

h3, h4 {
	border-width: 1px;
}

h5, h6 {
	border-width: 0;
}

.centered-headings h1, .centered-headings h2, .centered-headings h3, .centered-headings h4, .centered-headings h5, .centered-headings h6 {
	text-align: center;
	/*border-top: 3px #EAEAEA solid;*/
	padding: .25em;
	border-bottom: 3px #6c207e solid;
}

#centerblock {
	border-color: #6c207e;
}

section {
	margin-top: .25em;
	margin-bottom: .75em;
}

li {
    margin-bottom: .25em;
}

.content-area ul li {
	list-style-type: none;
	position: relative;
}

.content-area ul li::before {
	content: '\2b9a \a0';
	color: #6C207E;
	position: absolute;
	left: -1.1em;
}

/* Talia's tweaks end */

/* Talia's slider tweaks */

.ht-slide { 
	max-height: 100vh;
}

#ht-home-slider-section .owl-carousel .owl-nav .owl-prev, #ht-home-slider-section .owl-carousel .owl-nav .owl-next {
    background-color: #000;
}

/* Talia's slider tweaks end */

/* media queries */

@media screen and (min-width: 768px){
    .coll-grid-item-3{
        width:50%;
 
    }
 
    .grid-flex-break{
        flex-wrap: nowrap;
    }
 
    .right-image-container{
        order:2;
    }
}

@media screen and (min-width: 1200px) {
	.contact-container{
		display:flex;
		flex-direction:row;
	}
	.contact-container > *{
		width:100%;
		flex-wrap:nowrap;
	}
	
	/*
	----------------------------
		Home Page
	----------------------------
	*/
	.ss-container{
			flex-wrap:nowrap;
		}
		.ss-section-container{
			/*width: 80%;*/
		}
		.ss-container .infographic{
			width: 40%;
		}
		.ss-container .ss-center-right{
			width: 60%;

		}
	/*
	----------------------------
		End Home Page
	----------------------------
	*/


	/*
	----------------------------
		Projects
	----------------------------
	*/
	.project-grid-row{
		flex-wrap:nowrap;
	}
	.coll-grid-item-3{
        width:33.33%;
    }
}

@media screen and (max-width: 768px) {
	.grid-row {
		display: block;
	}
}

/* media queries end */

/*SlideShow styles Jordan*/

.ht-slide-cap-title {
    margin-bottom: 2px;
}

.ht-slide-cap-desc {
    width: 35%;
    padding: 0;
    margin: 0 auto;
}
.ht-slide-cap-desc-text{
    color: #6C207E;
    background-color: #EAEAEA;
    padding: .25em 1em;
}

h2.entry-title{
	margin: 0;
}
/* end SlideShow styles Jordan */