/*
Theme Name:   InVogue
Theme URI:    https://kairaweb.com/child-theme/invogue/
Description:  InVogue is a new redesigned look for the popular multipurpose WooCommerce theme, Vogue. Build a professional website or an eCommerce store easily by adding our recommended top plugins from WooCommerce to Page Builders and lots more. InVogue is simple, beautiful, clean but comes packed with a bunch of layout settings, full theme color settings and lots more... InVogue is the theme you want, build easily and professional websites now! Give it a go!
Author:       Kaira
Author URI:   https://kairaweb.com/
Template:     vogue
Version:      1.0.2
License:      GNU General Public License v2 or later
License URI:  http://www.gnu.org/licenses/gpl-2.0.html
Tags:         one-column, two-columns, left-sidebar, right-sidebar, flexible-header, custom-background, custom-colors, custom-header, custom-menu, editor-style, featured-images, footer-widgets, full-width-template, theme-options, translation-ready, blog, e-commerce
Text Domain:  invogue
*/

/* Add custom styling from here */

#comments .form-submit #submit,
.search-block .search-submit,
.side-aligned-social a.header-social-icon,
.no-results-btn,
button,
input[type="button"],
input[type="reset"],
input[type="submit"],
.woocommerce ul.products li.product a.add_to_cart_button, .woocommerce-page ul.products li.product a.add_to_cart_button,
.woocommerce ul.products li.product .onsale, .woocommerce-page ul.products li.product .onsale,
.woocommerce button.button.alt,
.woocommerce-page button.button.alt,
.woocommerce input.button.alt:hover,
.woocommerce-page #content input.button.alt:hover,
.woocommerce .cart-collaterals .shipping_calculator .button,
.woocommerce-page .cart-collaterals .shipping_calculator .button,
.woocommerce a.button,
.woocommerce-page a.button,
.woocommerce input.button,
.woocommerce-page #content input.button,
.woocommerce-page input.button,
.woocommerce #review_form #respond .form-submit input,
.woocommerce-page #review_form #respond .form-submit input,
.woocommerce-cart .wc-proceed-to-checkout a.checkout-button:hover,
.woocommerce .widget_price_filter .ui-slider .ui-slider-range,
.woocommerce .widget_price_filter .ui-slider .ui-slider-handle,
.single-product span.onsale,
.woocommerce button.button.alt.disabled,
.main-navigation ul ul a:hover,
.main-navigation ul ul li.current-menu-item > a,
.main-navigation ul ul li.current_page_item > a,
.main-navigation ul ul li.current-menu-parent > a,
.main-navigation ul ul li.current_page_parent > a,
.main-navigation ul ul li.current-menu-ancestor > a,
.main-navigation ul ul li.current_page_ancestor > a,
.wpcf7-submit,
.wp-paginate li a:hover,
.wp-paginate li a:active,
.wp-paginate li .current,
.wp-paginate.wpp-modern-grey li a:hover,
.wp-paginate.wpp-modern-grey li .current {
    background: inherit;
    background-color: #000000;
}

a,
.content-area .entry-content a,
#comments a,
.post-edit-link,
.site-title a,
.error-404.not-found .page-header .page-title span,
.search-button .fa-search,
.header-cart-checkout.cart-has-items .fa-shopping-cart,
.main-navigation div > ul > li > a:hover,
.main-navigation div > ul > li.current-menu-item > a,
.main-navigation div > ul > li.current-menu-ancestor > a,
.main-navigation div > ul > li.current-menu-parent > a,
.main-navigation div > ul > li.current_page_parent > a,
.main-navigation div > ul > li.current_page_ancestor > a {
    color: #000000;
}

a:hover,
.content-area .entry-content a:hover,
.header-social .header-social-icon:hover,
.site-header-topbar ul li a:hover,
.widget-area .widget a:hover,
.site-footer-widgets .widget a:hover,
.site-footer .widget a:hover,
.search-btn:hover,
.search-button .fa-search:hover,
.site-footer-bottom-bar ul li a:hover,
.woocommerce #content div.product p.price,
.woocommerce-page #content div.product p.price,
.woocommerce-page div.product p.price,
.woocommerce #content div.product span.price,
.woocommerce div.product span.price,
.woocommerce-page #content div.product span.price,
.woocommerce-page div.product span.price,
.woocommerce #content div.product .woocommerce-tabs ul.tabs li.active,
.woocommerce div.product .woocommerce-tabs ul.tabs li.active,
.woocommerce-page #content div.product .woocommerce-tabs ul.tabs li.active,
.woocommerce-page div.product .woocommerce-tabs ul.tabs li.active {
    color: #a8a8a8;
}

.main-navigation button:hover,
#comments .form-submit #submit:hover,
.search-block .search-submit:hover,
.no-results-btn:hover,
button,
input[type="button"],
input[type="reset"],
input[type="submit"],
.woocommerce input.button.alt,
.woocommerce-page #content input.button.alt,
.woocommerce .cart-collaterals .shipping_calculator .button,
.woocommerce-page .cart-collaterals .shipping_calculator .button,
.woocommerce a.button:hover,
.woocommerce-page a.button:hover,
.woocommerce input.button:hover,
.woocommerce-page #content input.button:hover,
.woocommerce-page input.button:hover,
.woocommerce ul.products li.product a.add_to_cart_button:hover, .woocommerce-page ul.products li.product a.add_to_cart_button:hover,
.woocommerce button.button.alt:hover,
.woocommerce-page button.button.alt:hover,
.woocommerce #review_form #respond .form-submit input:hover,
.woocommerce-page #review_form #respond .form-submit input:hover,
.woocommerce-cart .wc-proceed-to-checkout a.checkout-button,
.woocommerce .widget_price_filter .price_slider_wrapper .ui-widget-content,
.woocommerce button.button.alt.disabled:hover,
.wpcf7-submit:hover {
    background: inherit;
    background-color: #a8a8a8;
}