/*--------------------------------------------------------------
Vogue - Header Centered Two Styling
--------------------------------------------------------------*/

.site-topbar-left-ad {
    padding: 4px 0;
}
.site-topbar-right {
    padding: 6px 20px 0 0;
}
.site-main-bar {
    position: relative;
}

.header-social {
    position: absolute;
    left: 20px;
}
.site-topbar-right-no {
    top: 0;
}
.side-aligned-social {
    top: 180px;
}

a.site-logo-img {
    display: inline-block;
    vertical-align: middle;
}
.site-title {
    margin: 0;
    padding: 0 0 12px;
    font-size: 72px;
    line-height: 1.2em;
    font-weight: 300;
}
.site-title-img {
    display: inline-block;
    vertical-align: middle;
    margin: 0 0 0 12px;
}
.site-description {
    margin: 0;
    padding: 0 0 14px;
    font-size: 13px;
    line-height: 1.2em;
    font-weight: 300;
    text-transform: uppercase;
    color: inherit;
}
.site-description-img {
    padding: 10px 0 5px;
}

.site-sub-bar {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 0;
    margin: -20px 0 0;
}

.header-cart {
    position: absolute;
    right: 53px;
}
.header-no-search .header-cart {
    right: 15px;
}

a.header-cart-contents {
    color: inherit !important;
    padding: 0 4px;
    display: block;
    font-size: 20px;
}
.header-cart-amount {
    font-size: 24px;
    vertical-align: middle;
}
.header-cart-amount span {
    display: none;
}
.header-cart-checkout {
    position: relative;
    top: 2px;
}

.header-social-icon {
    font-size: 26px;
    color: #FFF;
    background-color: rgba(0, 0, 0, 0.8);
    width: 32px;
    font-size: 18px;
    height: 32px;
    padding: 3px 0 0;
    border-radius: 20px;
    text-align: center;
    cursor: pointer;
    margin: 0 8px 0 0;
    position: relative;
}
.social-pinterest span {
    color: #000;
    position: absolute;
    top: 8px;
    right: -45px;
    white-space: nowrap;
}

.menu-search {
    position: absolute;
    right: 15px;
    top: 2px;
    z-index: 99;
}
.search-btn {
    padding: 5px;
    cursor: pointer;
    font-size: 22px;
}

.search-btn {
    padding: 5px;
    cursor: pointer;
}

.search-block {
    position: absolute;
    background-color: #FEFEFE;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    top: -6px;
    right: 4px;
    padding: 8px 9px;
    z-index: 98;
    display: none;
    opacity: 0;
}
.search-block .search-field {
    font-size: 16px;
    margin: 0;
    border: 1px solid rgba(0, 0, 0, 0.18);
    border-radius: 0;
    background-color: #FFF;
    width: 250px;
    font-weight: 200;
    outline: none;
    color: inherit;
    box-sizing: border-box;
}
.search-block .search-submit {
    display: none;
}
    
.show-site-search .search-block {
    display: block;
}

.sticky-wrapper {
    height: 67px;
}
.site-header-compact .sticky-wrapper {
    height: 52px;
}
#primary-menu,
#main-menu > div {
    display: inline-block;
    vertical-align: middle;
}

#page {
    position: relative;
    right: 0;
    
    -webkit-transition: right 0.4s ease 0s;
     -moz-transition: right 0.4s ease 0s;
      -ms-transition: right 0.4s ease 0s;
       -o-transition: right 0.4s ease 0s;
          transition: right 0.4s ease 0s;
}

.header-no-lines .site-header-topbar,
.header-no-lines .main-navigation {
    border-top: 0;
    box-shadow: none;
}

@media screen and (max-width: 980px) {
    
    .site-title {
        font-size: 54px !important;
    }
    
    .main-navigation.stick-header.stuck {
        position: relative;
        top: 0 !important;
    }
    
    .header-menu-button {
        display: block;
        padding: 20px 20px 22px;
        text-transform: uppercase;
        cursor: pointer;
    }
    .site-header-compact .header-menu-button {
        padding: 12px 20px 15px;
    }
    .header-menu-button i {
        font-size: 14px;
        vertical-align: middle;
        position: relative;
        top: 1px;
    }
    .header-menu-button span {
        vertical-align: middle;
        margin: 0 0 0 6px;
    }
    
    #main-menu > div,
    .main-navigation ul {
        display: block;
    }
    
    .main-navigation #main-menu {
        box-shadow: 1px 0 0 0 rgba(0, 0, 0, 0.08) inset;
        position: fixed;
        top: 0;
        right: -280px;
        width: 280px;
        max-width: 100%;
        -ms-box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        padding: 58px 22px 30px 22px;
        z-index: 99999;
        height: 100%;
        overflow: auto;
        -webkit-transition: right 0.4s ease 0s;
        -moz-transition: right 0.4s ease 0s;
        -ms-transition: right 0.4s ease 0s;
        -o-transition: right 0.4s ease 0s;
        transition: right 0.4s ease 0s;
    }
    .main-navigation li {
        display: block;
        float: none;
    }
    .main-navigation li a {
        display: block;
        float: none;
        padding: 7px 0;
        text-align: left;
    }
    
    .main-navigation ul ul {
        position: relative !important;
        top: 0 !important;
        left: 0 !important;
        float: none !important;
        padding: 0;
        margin: 0;
        display: none;
    }
    .main-navigation ul ul li:last-child a,
    .main-navigation ul ul li a {
        width: auto;
    }
    .main-navigation ul ul li a {
        background: none !important;
    }
    
    #primary-menu {
        display: block;
    }
    .main-menu-close {
        display: block;
        border-radius: 4px;
        position: absolute;
        top: 10px;
        right: 10px;
        font-size: 30px;
        text-align: center;
        padding: 0 8px 0 12px;
        height: 40px;
        line-height: 38px;
        cursor: pointer;
    }
    .main-menu-close .fa-angle-left {
        position: relative;
        left: -4px;
    }
    
    body.admin-bar .main-navigation #main-menu {
        padding: 88px 22px 30px 22px;
    }
    body.admin-bar .main-menu-close {
        top: 40px;
    }

    body.show-main-menu #main-menu {
        right: 0px;
    }
    body.show-main-menu #page {
        right: 280px;
    }
    
}

@media only screen and (max-width: 782px) {
    
    .site-header .site-container {
        text-align: center;
    }
    
    .search-block {
        position: relative;
        top: 0;
        right: 0;
    }
    .search-block .search-field {
        margin: 0;
        width: 100%;
        font-size: 17px;
        padding: 4px 6px;
    }
    
    .site-branding {
        width: 100%;
        float: none;
        text-align: center;
        padding: 8px 0 0;
    }
    .site-branding a {
        display: inline-block;
    }
    .site-header-compact .site-branding {
        padding: 4px 0 0;
    }
    .site-title {
        font-size: 48px !important;
        line-height: 50px;
        padding: 0 0 8px;
    }
    .site-description {
        font-size: 12px;
        padding: 0 0 1px;
    }
    .site-header-compact .site-description {
        padding: 0;
    }
    .site-description-img {
        padding: 5px 0 2px;
    }
    
    .site-sub-bar {
        position: relative;
        text-align: center;
        padding: 0;
        margin: 0;
    }
    .site-header-compact .site-sub-bar {
        padding: 0;
    }
    .site-header-compact a.header-cart-contents {
        padding: 5px 5px 5px;
    }
    .header-social {
        position: relative;
        top: auto;
        left: auto;
        display: inline-block;
        vertical-align: middle;
    }
    .header-cart {
        float: none;
        text-align: center;
        display: inline-block;
        vertical-align: middle;
        padding: 4px 0;
        margin: 0 0 2px;
        position: relative;
        top: auto;
        right: auto;
    }
    a.header-cart-contents {
        padding: 2px 2px;
    }
    .site-header-compact .header-social {
        top: 0;
    }
    .site-header-compact .header-cart {
        top: 0;
        right: 0;
    }
    .site-header-compact .menu-search {
        top: 1px;
    }
    .main-navigation {
        width: 100%;
        float: none;
        text-align: center;
    }
    .main-navigation li {
        text-align: left;
    }
    .header-menu-button {
        margin: 0;
        padding: 6px 0 12px;
        display: block;
    }
    
    .menu-search {
        padding: 0;
        float: none;
        display: inline-block;
        vertical-align: middle;
        box-shadow: none;
        margin: 0 0 0 5px;
        position: relative;
        top: auto;
        right: auto;
    }
    
    .header-social-icon {
        font-size: 15px !important;
        width: 28px;
        height: 28px;
        padding: 2px 0 0;
        border-radius: 15px;
    }
    .social-pinterest span {
        display: none;
    }
    
    body.admin-bar .main-navigation #main-menu {
        padding: 98px 22px 30px 22px;
    }
    body.admin-bar .main-menu-close {
        top: 50px;
    }
    
}

@media only screen and (max-width: 600px) {
    .site-header-topbar {
        padding: 5px 0 0;
    }
    .site-topbar-left-ad {
        display: block;
    }
    .site-topbar-left,
    .site-topbar-right {
        float: none;
        width: 100%;
        text-align: center;
    }
    .site-topbar-left {
        padding: 3px 0 0;
    }
    .site-topbar-left .menu {
        display: inline-block;
    }
    .site-topbar-right {
        padding: 0 0 7px;
    }

}